<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <beans>
        <context:property-placeholder location="classpath:data-test.properties"/>
        <!--use properties-->
        <bean id="atValueAnno" class="gy.at.value.AtValueAnno"/>
        <import resource="classpath:propperties-use.xml"/>
        <context:component-scan base-package="gy.at.value"/>
        <bean id="student1" class="gy.test.base.StudentInfo">
            <property name="id" value="1111"/>
        </bean>
        <bean id="student2" class="gy.test.base.StudentInfo">
            <property name="id" value="2222"/>
        </bean>


        <bean id="society" class="gy.spel.baseClass.Society"/>
    </beans>

</beans>