<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--<bean id="springIOC" class="gy.test.springioc.SpringIOC"></bean>-->
    <util:component-scan base-package="gy.test.springioc"/>
    <util:property-placeholder location="classpath:data-test.properties"/>
</beans>